<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h3 class="lang" data-ja="会社情報" data-vn="Thông tin công ty">会社情報</h3>
      <p class="lang" data-ja="合同会社 大繁" data-vn="合同会社 大繁">合同会社 大繁</p>
      <p class="lang" data-ja="住所: 123区、ホーチミン市" data-vn="Địa chỉ: 123 Quận X, TP HCM">住所: 123区、ホーチミン市</p>
    </div>
    
    <div class="footer-section">
      <h3 class="lang" data-ja="お問い合わせ" data-vn="Liên hệ">お問い合わせ</h3>
      <p class="lang" data-ja="電話: 012-345-6789" data-vn="Điện thoại: 012-345-6789">電話: 012-345-6789</p>
      <p>Email: info@daishige.com</p>
    </div>
    
    <div class="footer-section">
      <h3 class="lang" data-ja="サービス" data-vn="Dịch vụ">サービス</h3>
      <ul>
        <li class="lang" data-ja="メンテナンス" data-vn="Bảo dưỡng">メンテナンス</li>
        <li class="lang" data-ja="車検" data-vn="Đăng kiểm">車検</li>
        <li class="lang" data-ja="塗装" data-vn="Đồng sơn">塗装</li>
        <li class="lang" data-ja="タイヤ交換" data-vn="Thay lốp">タイヤ交換</li>
      </ul>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p class="lang" data-ja="© 2026 合同会社 大繁. All rights reserved." data-vn="© 2026 合同会社 大繁. Bản quyền thuộc về chúng tôi.">© 2026 合同会社 大繁. All rights reserved.</p>
  </div>
</footer>