<section class="services" id="services">
  <h2 class="langService" data-ja="主なサービス" data-vn="Dịch vụ chính">主なサービス</h2>
  <div class="service-items">
    <div class="service-item">
      <img src="https://www.hayataro.com/upload/save/post/beaabf80a597240516a905789347644c.jpg" alt="車検サービス" />
      <h3 class="langService" data-ja="車検" data-vn="Đăng kiểm">車検</h3>
    </div>
    <div class="service-item">
      <img src="https://images.unsplash.com/photo-1558618666-fcd25c85cd64?w=400&h=250&fit=crop" alt="鈑金サービス" />
      <h3 class="langService" data-ja="鈑金" data-vn="Sửa chữa thân xe">鈑金</h3>
    </div>
    <div class="service-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPG_v2lKnET2pMaYaVzL4VriZ880pHPjNYIg&s" alt="塗装サービス" />
      <h3 class="langService" data-ja="塗装" data-vn="Sơn xe">塗装</h3>
    </div>
  </div>
</section>
